{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <title>Coffee Sanctuary HOME</title>
</head>
<body>
 <div class="wrapper">
    <nav class="nav">
        <div class="nav-logo">
            <p>Coffee Sanctuary .</p>
        </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="login.html" class="link">LOG IN / SIGN UP</a></li>
                <li><a href="#" class="link active">Home</a></li>
                <li><a href="services.html" class="link">Our Services</a></li>
                <li><a href="beans.html" class="link">Beans Menu</a></li>
                <li><a href="coffee.html" class="link">Coffee Menu</a></li>
                <li><a href="feedback.html" class="link">Feed back</a></li>
                
            </ul>
        </div>
     </nav>
        <br>
     
     <h1 >We serve the best COFFEE BEANS and COFFEE ON THE GO.</h1></div>
    
    
         
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </body>
</html>
        
       